<!DOCTYPE html>
<html>
<head>
	<title> CSS Playground </title>
	<link rel="stylesheet" type="text/css" href="../CSS/CSS-playground.css">
</head>
<body>
	<h1> CSS Items </h1>
	<div class="uses">
	<h2> Uses for CSS </h2>
		<ul>
			<li> To give the appearance of your site, a unique look and feel. </li>
			<li> To alter colors, fonts, backgrounds, etc. </li>
			<li> To implement some effects and animations, although it's not as powerful as jQuery/Javascript. </li>
		</ul> 
	</div>
	<div id="def">
	<h2> CSS Statements </h2>
		<p> Four main components of CSS statements </p>
			<ol>
				<li><b> Declaration: </b> The whole CSS statement in Curly braces. </li>
				<li><b> Selector: </b> The name of hte part you want to style. </li>
				<li><b> Property: </b> Properties to edit(e.g., width height, background, etc.). </li>
				<li><b> Value: </b> numbers, colors, urls - things to give value to the property. </li>
			</ol>
	</div>
	<h2 id="dog"> Classes </h2>
		<h3 class="alt"> Class example </h3>
</body>
</html>