<!DOCTYPE html>
<html>
<head>
	<title> CSS Playground </title>
	<link rel="stylesheet" type="text/css" href="../CSS/CSS-playground.css">
</head>
<body>
	<div class="navbar">
		<h1> CSS Items </h1>
		<ul>
			<li> <a href="../Index.html"> Home </a></li>
			<li> <a href="html-playground.html"> HTML </a></li>
			<li> <a href="CSS-playground.html">CSS </a></li>
			<li> <a href="Bootstrap-playground.html"> Bootstrap </a></li>
			<li> <a href="Javascript-playground.html"> JavaScript </a></li>
			<li> <a href="jQuery-playground.html"> jQuery </a></li>
			<li> <a href="Resources-playground.html"> Resources </a></li>
			<li> <a href="Git-playground.html"> Git </a></li>
		</ul>
	</div>
	<div class="uses">
	<h2> Uses for CSS </h2>
		<ul>
			<li> To give the appearance of your site, a unique look and feel. </li>
			<li> To alter colors, fonts, backgrounds, etc. </li>
			<li> To implement some effects and animations, although it's not as powerful as jQuery/Javascript. </li>
		</ul> 
	</div>
	<div id="def">
	<h2> CSS Statements </h2>
		<p> Four main components of CSS statements </p>
			<ol>
				<li><b> Declaration: </b> The whole CSS statement in Curly braces. </li>
				<li><b> Selector: </b> The name of hte part you want to style. </li>
				<li><b> Property: </b> Properties to edit(e.g., width height, background, etc.). </li>
				<li><b> Value: </b> numbers, colors, urls - things to give value to the property. </li>
			</ol>
	</div>
	<h2 id="dog"> Classes </h2>
		<h3 class="alt"> Class example </h3>

	<div class="face">
  		<div class="eyeball"></div>
  		<div class="pupil"></div>
	</div>

	<div class="ghost">
  		<div class="square"></div>
 		<div id="peye"></div>
  		<div id="paceye"></div>
  		<div id="ppupil"></div>
  		<div id="pacpupil"></div>
  	</div>
</body>
</html>