<!DOCTYPE html>
<html>
<head>
	<title> HTML Playground </title>
	<link rel="stylesheet" type="text/css" href="CSS/CSS-playground.css">
</head>
<body>
	<div class="navbar">
		<h1> HTML Playground </h1>
		<ul>
			<li> <a href="../Index.html"> Home </a></li>
			<li> <a href="Views/html-playground.html"> HTML </a></li>
			<li> <a href="Views/CSS-playground.html">CSS </a></li>
			<li> <a href="Views/Bootstrap-playground.html"> Bootstrap </a></li>
			<li> <a href="Views/Javascript-playground.html"> JavaScript </a></li>
			<li> <a href="Views/jQuery-playground.html"> jQuery </a></li>
			<li> <a href="Views/Resources-playground.html"> Resources </a></li>
		</ul>
	</div>
	<h2> Header Tags </h2>
	<h1> H1 </h1>
	<h3> H3 </h3>
	<h6> H6 </h6>
	<hr> 
	<h2> Paragraph Tag <h2>
		<p style="color:blue"><b>This could be a paragraph but is to short<b> 
		</p>
	<hr>
	<h2> Hyperlinks and href </h2>
		<p> Use the "a href" tag for a link. Copy and paste the URL of the link
		</p> 
	<hr>
	<h2> Images </h2>
		<p> Images are really easy to add. Create a folder called "img". Save images in img folder. 
		</p>
		<p> Use the "img src" tag. </p>
		<img src="../Img/grimlinmonkey.jpg">
	<hr>
	<h2> Divs </h2>
	<div id="blue" style="background-image: url("../Img/grimlinmonkey.jpg");">
			<p style="color:blue;"> This is a very blue div. </p>
</body>
</html>