<!DOCTYPE html>
<html>
<head>
	<title> Javascript Playground </title>
	<link rel="stylesheet" type="text/css" href="CSS/CSS-playground.css">
</head>
<body>
	<div class="navbar">
		<h1>Javascript Playground </h1>
		<ul>
			<li> <a href="../Index.html"> Home </a></li>
			<li> <a href="Views/html-playground.html"> HTML </a></li>
			<li> <a href="Views/CSS-playground.html">CSS </a></li>
			<li> <a href="Views/Bootstrap-playground.html"> Bootstrap </a></li>
			<li> <a href="Views/Javascript-playground.html"> JavaScript </a></li>
			<li> <a href="Views/jQuery-playground.html"> jQuery </a></li>
			<li> <a href="Views/Resources-playground.html"> Resources </a></li>
		</ul>
	</div>
</body>
</html>